<div class="form-actions">

  <a href='<%= url_for :back %>' class='btn'>
    <i class="m-icon-swapleft"></i> Back
  </a>

  <%= button_tag(type: 'submit', class: "btn green") do %>
      Submit <i class="m-icon-swapright m-icon-white"></i>
  <% end %>
</div>