<h1>Empty topics</h1>
<p class="alert alert-block">
  This is a list of topics with no links. They need to be filled with links as soon as possible otherwise the
  universe will collapse.
</p>

<%= render partial: 'topics' %>