<h1>User list</h1>

<p class="alert alert-info">
  This is a temporary page. I will create a beautiful user rankings page later.
</p>

<ul>
  <% User.all.each do |u| %>
      <li><%= u.email %></li>
  <% end %>
</ul>