<h3 class="page-title">
  Topics index
  <small>blank & starter page sample</small>
</h3>
<ul class="breadcrumb">
  <li>
    <i class="icon-home"></i>
    <a href="index.html">Home</a>
    <i class="icon-angle-right"></i>
  </li>
  <li>
    <a href="#">Extra</a>
    <i class="icon-angle-right"></i>
  </li>
  <li><a href="#">Blank Page</a></li>
</ul>