<div>
  <div class="portlet box blue">
    <div class="portlet-title">
      <h4><i class="icon-reorder"></i>New link</h4>

      <div class="tools">
        <a href="javascript:;" class="collapse"></a>
        <!--<a href="#portlet-config" data-toggle="modal" class="config"></a>-->
        <!--<a href="javascript:;" class="reload"></a>-->
        <!--<a href="javascript:;" class="remove"></a>-->
      </div>
    </div>

    <div class="portlet-body">
      <% if user_signed_in? %>
          <%= render partial: 'links/form' %>
      <% else %>
          To create a new link, you need an <%= link_to('account', new_user_registration_path) %>
      <% end %>
    </div>
  </div>
</div>