<div class="row-fluid">
  <div class="booking-blocks">
    <div class="pull-left booking-img">
      <img src="/assets/img/gallery/image4.jpg" alt="">
      <ul class="unstyled">
        <li><i class="icon-money"></i> From $126</li>
        <li><i class="icon-map-marker"></i> Tioman, Malaysia</li>
      </ul>
    </div>
    <div style="overflow:hidden;">
      <h2><a href="#">Here Any Title</a></h2>
      <!--<ul class="unstyled inline">-->
        <!--<li><i class="icon-star"></i></li>-->
        <!--<li><i class="icon-star"></i></li>-->
        <!--<li><i class="icon-star"></i></li>-->
        <!--<li><i class="icon-star"></i></li>-->
        <!--<li><i class="icon-star-empty"></i></li>-->
      <!--</ul>-->
      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
        corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in
        culpa qui officia deserunt mollitia animi, id est laborum. Sed et quam lacus. Fusce condimentum eleifend enim a
        feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat <a href="#">read more</a></p>
    </div>
  </div>
</div>
<hr>