<h1>About Quicksort</h1>

<h2>What is it ?</h2>
<p>Quicksort is a comunnity-operated link farm grouped by topics.</p>

<p>
  The main goal is to organize the content on the internet, in order to make it easier to find what you want.
  You can think of it as a 2-step google search:
  if you know what what kind of thing you are looking for and you know it exists, then it must be on quicksort.
</p>
<p>
  For example, say you want to find a good service for downloading a youtube video, or you want to find an easy
  way of slicing pdf's... With google, you will find sites whose owners know how to do seo best. With quicksort,
  you will find user submitted results based on how useful the link/service actually is (thanks to the upvote/downvote
  mechanism).
</p>

<b>Old way</b>
<ul>
  <li>Search "download youtube video" on google</li>
  <li>Try first link. Not what you want</li>
  <li>Try second link. Kind of what do want, but not really</li>
  <li>Try third link. What you want. Cool, but at the very end you have to pay</li>
  <li>Try fourth link. Website with adds everywhere</li>
  <li>(╯°□°）╯︵ ┻━┻)</li>
  <li>Give up</li>
  <li>Ask for a friend</li>
  <li>Friend tells you about a service that was on 5th page. Exactly what you want. Why was this not the first result?
  </li>
</ul>
<b>Quicksort way&trade;</b>

<ul>
  <li>Search "download youtube video inurl:quicksort" on google</li>
  <li>Click top quicksort link</li>
  <li>Select the service/link that best correspond to what you want among the top ones</li>
  <li>Yes, quicksort is awesome. Now put that table back.</li>
  <li>┬──┬ ノ( ゜-゜ノ)</li>
</ul>

<p>
  Another use for quicksort if you want to find all y's for x. For example, what are all the songs of Queen, or what
  are all the movies Tarantino made? Additionally, you can create topics where you add constraints about the content
  that you want. For example: what are all the songs of Queen on grooveshark, or all the movies of Tarantino on
  thepiratebay.org, in english, and at least 720p ?
</p>


<h2>Show me more examples</h2>
<h3>Good topic examples</h3>
<h3>Bad topic examples</h3>

<h2>This is amazing, how do I get started ?</h2>
I'm happy to see that you like it. Here is what you can do to help the project get bigger:
<ul>
  <li>
    Next time you look for something specific on the internet, create a topic. And as you find good links for it,
    add them to your own topic (it could be right away or later). You people will thank you by upvoting your
    topic and links, and you might also have people adding links you didn't know about.
  </li>
  <li>
    Whenever you find a very good piece of content, bookmark it in a folder called "List of useful". When this
    bookmark gets too big, submit all the links to quicksort on the page "List of usefull". Then you organize them
    into topics, (or let other people do that if you don't have time)
  </li>
  <li>
    Create an account
  </li>
  <li>
    Tell your friends
  </li>

</ul>

<h2>Who is behind the site ?</h2>
<a href="http://stackoverflow.com/users/311744/pinouchon">Me</a>.

<h2>What are the guidelines</h2>(may change in the future)
<ul>
  <li>Language is english only</li>
  <li>
    Quality over quantity. Don't mass create topics; but create a few meaningfull ones. Try to avoid empty topics.
    Try to identify and point to similar/duplicated topics when possible
  </li>
  <li>No OC on the site, just links to content on other sites</li>
  <li>First person to submit vote gets upvotes. Reposts of a link already submitted should be downvoted or flagged.</li>
</ul>

<h2>Plan</h2>