<style>
    h2 {
        border-bottom: 1px solid #CCC;
    }
</style>
<!--<h1>About Quicksort</h1>-->

<h2>What is Quicksort ?</h2>
<p>Quicksort is a community-operated link farm grouped by topics.</p>

<p>
  The main goal is to organize the content on the internet, in order to make it easier to find what you want.
  Think of it as a 2-step google search:
  instead of searching directly what you want on google, you first find the quicksort page, then find what you want in this page.
</p>

<div class="well">
  <span>
    For example, say you want to find a good service for downloading a youtube video. With google, you will find sites whose owners know how to do seo best. With quicksort,
    you will find user submitted results based on how useful the link/service actually is (thanks to the upvote/downvote
    mechanism).
  </span>
</div>

<b>Old way</b>
<ul>
  <li>Search "download youtube video" on google</li>
  <li>Try first link. Not what you want</li>
  <li>Try second link. Kind of what do want, but not really</li>
  <li>Try third link. What you want. Cool, but at the very end you have to pay</li>
  <li>Try fourth link. Website with adds everywhere</li>
  <li>(╯°□°）╯︵ ┻━┻)</li>
  <li>Give up</li>
  <li>Ask for a friend</li>
  <li>Friend tells you about a service that was on 5th page. Exactly what you want. Why was this not the first result?
  </li>
</ul>
<b>Quicksort way&trade;</b>

<ul>
  <li>Search "download youtube video inurl:quicksort" on google</li>
  <li>Click top quicksort link</li>
  <li>Select the service/link that best corresponds to what you want among the top ones</li>
  <li>Yes, quicksort is awesome. You can put the table back</li>
  <li>┬──┬ ノ( ゜-゜ノ)</li>
</ul>

<!--<p>-->
<!--Another use for quicksort if you want to find all y's for x. For example, what are all the songs of Queen, or what-->
<!--are all the movies Tarantino made? Additionally, you can create topics where you add constraints about the content-->
<!--that you want. For example: what are all the songs of Queen on grooveshark, or all the movies of Tarantino on-->
<!--thepiratebay.org, in english, and at least 720p ?-->
<!--</p>-->


<h2>Show me more examples</h2>
<p class="note" style="margin-bottom: 0;padding-bottom: 0">
  Good example are usually topics that you can easily answer with a list of links.
</p>
<h3>Good topic examples</h3>
<ul>
  <li>Easy way to download a youtube video</li>
  <li>Queen songs</li>
  <li>Web frameworks in PHP</li>
  <li>Trending social apps</li>
  <li>Free resources to learn music online</li>
</ul>
<h3>Bad topic examples</h3>
<ul>
  <li>How to sort an array of integers in ruby (To specific. Belongs on stackoverflow)</li>
  <li>How to better sleep at night (Too broad. Belongs on quora)</li>
  <li>Recent advances in technology (Too broad. Belongs on reddit /r/technology)</li>
</ul>

<h2>This is amazing, how do I get started ?</h2>
<ul>
  <li>
    Next time you look for something specific on the internet, create a topic. And as you find good links for it,
    add them to your own topic (it could be right away or later). You people will thank you by upvoting your
    topic and links, and you might also have people adding links you didn't know about.
  </li>
  <li>
    Whenever you find a very good piece of content, bookmark it in a folder called "List of useful". When this
    bookmark gets too big, submit all the links to quicksort on the page "List of usefull". Then you organize them
    into topics, (or let other people do that if you don't have time)
  </li>
  <li>
    Create an account
  </li>
  <li>
    Tell your friends
  </li>

</ul>

<h2>Who is behind the site ?</h2>
<a href="http://stackoverflow.com/users/311744/pinouchon">Me</a>.

<h2>What are the guidelines</h2>(may change in the future)
<ul>
  <li>Language is english only</li>
  <li>
    Quality over quantity. Don't mass create topics; but create a few meaningfull ones. Try to avoid empty topics.
    Try to identify and point to similar/duplicated topics when possible
  </li>
  <li>No OC on the site, just links to content on other sites</li>
  <li>First person to submit vote gets upvotes. Reposts of a link already submitted should be downvoted or flagged.</li>
</ul>

<!--<h2>Plan</h2>-->