/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require frontend
 */

.brand_text .brand1 {
    text-shadow: 0px 0px 1px #AAAAAA;
    color: #CCC;
}

a.brand:hover .brand1 {
    color: white;
    text-shadow: 0px 0px 1px white;
}

.brand_text .brand2 {
    color: #e02222;
    text-shadow: 0px 0px 1px #FF0000;
}
a.brand:hover .brand2 {
    color: #e05546;
    text-shadow: 0px 0px 1px #e05546;
}

/*.alert {*/
    /*margin-top: 20px;*/
    /*margin-bottom: 0px;*/
/*}*/

code, pre {
    border-radius: 0px;
}