.link {
  margin-top: 9px;
  /*padding-left: 8px;*/
}

.link.selected {
  //  width: calc(100% - 20px);
  margin-top: 0px;
  background-color: #E8F4FF;
  /*padding: 10px 0px 10px 8px;*/
  padding: 10px 0px 10px 0px;
}

hr.nomargin {
  margin: 2px 0 0 0;
}

a.link-link:visited, a.violet:visited {
  color: #609
}

.action-links {
  color: #777;
  a:visited {
    color: #005580;
  }
  a i {
    text-decoration: none;
    color: #77c5f1;
    font-size: 11px
  }
  //  .icon-comment {
  //    font-size: 10px;
  //  }
}

.header .brand {
  margin-top: 0px;
}

.votable-form-container {
  display: none;
}

#links {
  margin: 0 0 0 10px;
}

.topic-container {
  margin: 5px 0 0 10px;
}

.userbox {
  &.highlighted {
    background-color: #f0f6fa;
    border-left: solid 2px #c4d5df;
  }
  width: 170px;
  height: 50px;
  float: right;
  padding: 2px 2px 2px 4px;
  font-size: 12px;
  .usericon {
    color: #b9cbd5;
    font-size: 15px;
    padding: 4px 4px 7px 7px;
    background: #e0eaf0 !important;
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 4px;
  }
  .user-name, .user-reputation {
    line-height: 14px;
  }
  .user-name {
  }
  .user-reputation {
  }
}

.userbox-mini {
  display: inline-block;
  & > div {
    float: left;
    margin: 0 3px;
  }
  .created_at {
    color: #999;
  }
}

.userbox-inline {
  .created_at {
    color: #999;
  }
  .user-name {

  }
}

blockquote {
  margin: 0 0 10px;
}

.post-comments {
  margin-top: 10px;
  .comment, .add-comment-container, .comment-form-container {
    margin-top: -1px;
    padding: 6px 6px 6px 22px;
    border-top: 1px dotted #E0DFDF;
  }
  .comment {
    &:hover {
      background-color: #F9F9F9;
    }
    .icon-remove-sign {
      color: #C4C4C4;
      padding: 3px;
      &:hover {
        color: #bd6e66;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
  .add-comment {

  }
}

.nowrap {
  white-space: nowrap;
}

.comment-form-container {
  padding: 6px 6px 6px 22px;
  display: none;
}