<% if @params['controller'] == 'topics' && @params['action'] == 'show' %>
    <div class="portlet note">
      <div class="portlet-body">
        <table>
          <tr>
            <td>Created</td>
            <td><b><%= time_ago(@topic.created_at) %></b></td>
          </tr>
          <tr>
            <td>Active</td>
            <td><b><%= time_ago(@topic.updated_at) %></b></td>
          </tr>
          <tr>
            <td>Viewed</td>
            <td><b>A few times</b></td>
          </tr>
        </table>
      </div>
    </div>
<% end %>

<!-- BEGIN PORTLET-->
<div class="portlet box grey">
  <div class="portlet-title line">
    <h4><i class="icon-bullhorn"></i>Feedback</h4>

  </div>
  <div class="portlet-body">
    <h4>Like the site? Suggestions?</h4>

    <div id="feedback_form_container">
      <%= render partial: 'feedbacks/form' %>
    </div>
  </div>
</div>