<ul class="ver-inline-menu tabbable margin-bottom-25">
  <li class="active">
    <a href="#tab_1" data-toggle="tab">
      <i class="icon-briefcase"></i>
      General Questions
    </a>
    <span class="after"></span>
  </li>
  <li><a href="#tab_2" data-toggle="tab"><i class="icon-group"></i> Membership</a></li>
  <li><a href="#tab_3" data-toggle="tab"><i class="icon-leaf"></i> Terms Of Service</a></li>
  <li><a href="#tab_1" data-toggle="tab"><i class="icon-info-sign"></i> License Terms</a></li>
  <li><a href="#tab_2" data-toggle="tab"><i class="icon-tint"></i> Payment Rules</a></li>
  <li><a href="#tab_3" data-toggle="tab"><i class="icon-plus"></i> Other Questions</a></li>
  <li><a href="#tab_3" data-toggle="tab"><i class="icon-tasks"></i> Taks & Resources</a></li>
  <li><a href="#tab_3" data-toggle="tab"><i class="icon-user"></i> User Management</a></li>
</ul>
<!-- BEGIN PORTLET-->
<div class="portlet box green">
  <div class="portlet-title line">
    <h4><i class="icon-comments"></i>Quick Form</h4>

    <div class="tools">
      <a href="javascript:;" class="collapse"></a>
      <a href="#portlet-config" data-toggle="modal" class="config"></a>
    </div>
  </div>
  <div class="portlet-body">
    <h4>Create Record</h4>

    <form action="#">
      <div class="input-icon left">
        <i class="icon-envelope"></i>
        <input type="text" class="m-wrap span12" placeholder="Title"/>
      </div>
      <div class="input-icon left">
        <i class="icon-envelope"></i>
        <input type="password" class="m-wrap span12" placeholder="Email"/>
      </div>
      <div class="input-icon left">
        <i class="icon-lock"></i>
        <input type="password" class="m-wrap span12" placeholder="Remarks"/>
      </div>
      <label class="checkbox">
        <input type="checkbox"/> Notify admin
      </label>
      <button type="submit" class="btn purple">Submit</button>
    </form>
  </div>
</div>